* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 30px auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header input, .header select {
  font-size:16px;
  min-width: 50px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(194, 194, 194);
  transition: all 0.2s;
}

.header input:focus, .header select:focus {
  border-bottom-color: rgb(106, 104, 104);;
}

table {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgb(237, 237, 237);
}

table td, th {
  border-bottom: 1px solid rgb(198, 198, 198);
  padding: 15px;
}

table th {
  border: 1px solid rgb(216, 216, 216);
  padding-right: 10px;
}

table tbody tr:nth-child(odd) td:first-of-type {
  background-color: rgb(225, 224, 224);
}
table tbody tr:nth-child(even) td:first-of-type {
  background-color: rgb(250, 250, 250);
}

table th:not(:last-of-type) .content{
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table th .content div {
  display: flex;
  flex-direction: column;
}

table th .content div p:first-child {
  margin-bottom: -5px;
}

table th .content div p {
  cursor: pointer;
  color: rgb(230, 228, 228);
  transition: color 0.2s;
}

table th .content div p.active {
  color: black;
}

table th .content div p:hover {
  color: rgb(93, 93, 93);
}

.delete-header {
  color: red;
}

.delete {
  text-align: center;
  color: rgb(224, 126, 126);
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.delete:hover {
  color: red;
}